{% extends 'base.html' %}

{% block title %}Resources{% endblock title %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock head %}
{% block body %}

<div class="container" style="padding-top:80px">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Impact of the COVID-19 pandemic on education
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <a href="https://en.wikipedia.org/wiki/Impact_of_the_COVID-19_pandemic_on_education">
                        https://en.wikipedia.org/wiki/Impact_of_the_COVID-19_pandemic_on_education</a>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    List of countries by real GDP growth rate
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <a href="https://en.wikipedia.org/wiki/List_of_countries_by_real_GDP_growth_rate">
                        https://en.wikipedia.org/wiki/List_of_countries_by_real_GDP_growth_rate</a>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    List of films impacted by the COVID-19 pandemic
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <a href="https://en.wikipedia.org/wiki/List_of_films_impacted_by_the_COVID-19_pandemic">
                        https://en.wikipedia.org/wiki/List_of_films_impacted_by_the_COVID-19_pandemic</a>
                </div>
            </div>
        </div>
        <!--    four-->
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    COVID-19 pandemic lockdowns
                </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <a href="https://en.wikipedia.org/wiki/COVID-19_pandemic_lockdowns">
                        https://en.wikipedia.org/wiki/COVID-19_pandemic_lockdowns</a>
                </div>
            </div>
        </div>
        <!--    Five    -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    Global School Closures COVID-19
                </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <a href="https://data.humdata.org/dataset/global-school-closures-covid19">
                        https://data.humdata.org/dataset/global-school-closures-covid19</a>
                </div>
            </div>
        </div>
        <!--    six   -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                    AQI Pollution Data Fetched from CPCB on 28 Dec 2020
                </button>
            </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <a href="https://ncdc.gov.in/cpcbaqi.php">
                        https://ncdc.gov.in/cpcbaqi.php</a>
                </div>
            </div>
        </div>
        <!--    Seven   -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                    Animated racing bars
                </button>
            </h2>
            <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <a href="https://flourish.studio/">
                        https://flourish.studio/</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end of manually added-->
<style>
.accordion{
 border-radius:10px;
 background: #010915;
}
.accordion-body{
color:white;
}
.accordion-button{
color:white;
}

</style>
{% endblock body %}